<title>My application deployed automatically</title>
  <h1>Uygulamama Hosgeldin!</h1>
    Result is {{result}}

<p>
Tugberk Aksu 201101075
    verilen iki integer listesi ve iki integer parametresi uzerinde belirli hesaplamalar yapar ve sonucu dondurur.
</p>


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="param1" rows="10" cols="30"></textarea>
        <textarea name="param2" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
